[Desktop Entry]
Name=HandyView
Exec=/mnt/Xintao/Projects/HandyView/HandyView.py %f
Type=Application
Terminal=false
Icon=/mnt/Xintao/Projects/HandyView/icon.png