[Desktop Entry]
Name=HandyView
Exec=/mnt/Xintao/Projects/HandyView/handyview/handyview.py %f
Type=Application
Terminal=false
Icon=/mnt/Xintao/Projects/HandyView/handyview/icon.png
